<div class="area-swiper">
  <div class="title">
    <h2>New Releases</h2>
  </div>


    <swiper-container
       loop="true"
       [slidesPerView]="slidesPerView"
        navigation="true"
        space-between="10"
        pagination="true"
        pagination-clickable="true"
       >


            <swiper-slide >
              <img src="../../../assets/book1.png" alt="">
              <div class="footer-card">
                <span>Free Digital Book</span>
              </div>
            </swiper-slide>

            <swiper-slide >
              <img src="../../../assets/book2.jpg" alt="">
              <div class="footer-card">
                <span>Free Digital Book</span>
              </div>
            </swiper-slide>

            <swiper-slide >
              <img src="../../../assets/book3.jpg" alt="">
              <div class="footer-card">
                <span>Free Digital Book</span>
              </div>
            </swiper-slide>
            <swiper-slide >
              <img src="../../../assets/book4.png" alt="">
              <div class="footer-card">
                <span>Free Digital Book</span>
              </div>
            </swiper-slide>

            <swiper-slide >
              <img src="../../../assets/book5.png" alt="">
              <div class="footer-card">
                <span>Free Digital Book</span>
              </div>
            </swiper-slide>

            <swiper-slide >
              <img src="../../../assets/book6.jpg" alt="">
              <div class="footer-card">
                <span>Free Digital Book</span>
              </div>
            </swiper-slide>

            <swiper-slide >
              <img src="../../../assets/book7.jpg" alt="">
              <div class="footer-card">
                <span>Free Digital Book</span>
              </div>
            </swiper-slide>

            <swiper-slide >
              <img src="../../../assets/book8.jpg" alt="">
              <div class="footer-card">
                <span>Free Digital Book</span>
              </div>
            </swiper-slide>



    </swiper-container>

</div>
