<div class="area-swiper">
  <div class="title">
    <div class="img-bell"> <img src="../../../assets/bell.png" alt=""></div>
    <h2>New Releases</h2>
    <span>free digital books </span>
    <div class="box-buttons">
      <div class="swiper-button-prev "><i class="fa-solid fa-arrow-left"></i></div>
      <div class="swiper-button-next "><i class="fa-solid fa-arrow-right"></i></div>
    </div>
  </div>


    <swiper-container init="false"

       >
            <swiper-slide >

                <div class="custom-swiper">
                  <img src="../../../assets/book1.png" class="img-fluid" alt="">
                  <div class="description"><span>Fiction </span></div>
                  <div class="footer-card">
                    <span>Free Digital Book</span>
                  </div>
                </div>

            </swiper-slide>

            <swiper-slide >
              <div class="custom-swiper">
                <img src="../../../assets/book2.jpg"class="img-fluid"  alt="">
                <div class="description"><span>Mystery </span></div>
                <div class="footer-card">

                  <span>Free Digital Book</span>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide >
              <div class="custom-swiper">
                <img src="../../../assets/book3.jpg"class="img-fluid" alt="">
                <div class="description"><span>Romance</span></div>
                <div class="footer-card">

                  <span>Free Digital Book</span>
                </div>
              </div>
            </swiper-slide>
            <swiper-slide >
              <div class="custom-swiper">
                <img src="../../../assets/book4.png"class="img-fluid" alt="">
                <div class="description"><span>Fantasy </span></div>
                <div class="footer-card">

                  <span>Free Digital Book</span>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide >
              <div class="custom-swiper">
                <img src="../../../assets/book5.png"class="img-fluid" alt="">
                <div class="description"><span>Poetry </span></div>
                <div class="footer-card">

                  <span>Free Digital Book</span>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide >
              <div class="custom-swiper">
                <img src="../../../assets/book6.jpg"class="img-fluid" alt="">
                <div class="description"><span>Horror </span></div>
                <div class="footer-card">

                  <span>Free Digital Book</span>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide >
              <div class="custom-swiper">
                <img src="../../../assets/book7.jpg"class="img-fluid" alt="">
                <div class="description"><span>Historical Fiction</span></div>
                <div class="footer-card">

                  <span>Free Digital Book</span>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide >
              <div class="custom-swiper">
                <img src="../../../assets/book8.jpg"class="img-fluid" alt="">
                <div class="description"><span>Autobiography</span></div>
                <div class="footer-card">

                  <span>Free Digital Book</span>
                </div>
              </div>
            </swiper-slide>



    </swiper-container>

</div>
