.container-books{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
}

.title{
      display: grid;

      margin-bottom: 50px;
      overflow-y: hidden;
      width: 80%;
      h2{
      text-align: left;
      font-family: Tenor sans;
      font-weight: bolder;
      font-size: 27px;
      }
}

.area-books{
  margin: auto 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 20px;

}

.box-books{
  width:300px;
  height: 390px;
  display: flex;
  background-color: rgba(238, 234, 229, 0.507);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  border-radius: 20px;

  .star-rating{
    overflow-y: hidden;
    i{
      padding-top: 5px;
      color: rgba(214, 214, 8, 0.822);
    }
  }

  img{
    width: 200px;
    height: 250px;
    display: flex;
    transition: transform 0.3s ease;
    cursor: pointer;
    object-fit: cover;
  }

  img:hover{
    transform: scale(1.1);

  }

  .span-publisher{
    overflow-y: hidden;
    text-align: center;
    h3{
      display: inline;
      font-weight: bold;
    }
          font-size: 16px;
          font-family: Tenor sans;
  }

  .span-genre{
    overflow-y: hidden;
    font-family: Tenor sans;
    font-size: 16px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.349);
    padding-bottom: 10px;
  }

  .area-freebooks{
    background-color: rgba(127, 255, 212, 0.596);
    width: 100%;
    font-family: Tenor sans;
    font-size: 13px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

@media(max-width:1200px){

  .title{
    h2{
      font-size:24px;
    }
  }

  .area-books{
    grid-template-columns: repeat(3, 1fr);
  }

  .box-books{
    width:250px;
    height: 350px;


    .star-rating{
      overflow-y: hidden;
      i{
        padding-top: 5px;
        font-size: 12px;
        color: rgba(214, 214, 8, 0.822);
      }
    }

    img{
      width: 180px;
      height: 220px;
      object-fit: cover;
    }


    .span-publisher{

      h3{
        font-size: 13px;
      }
            font-size: 13px;
            font-family: Tenor sans;
    }

    .span-genre{
      font-size: 12px;
    }

    .area-freebooks{
      font-size: 11px;
    }

  }
}

@media(max-width:900px){

  .title{
    h2{
      font-size:23px;
    }
  }

  .area-books{
    grid-template-columns: repeat(2, 1fr);
  }

  .box-books{
    width:200px;
    height: 320px;


    .star-rating{
      overflow-y: hidden;
      i{
        padding-top: 5px;
        font-size: 12px;
        color: rgba(214, 214, 8, 0.822);
      }
    }

    img{
      width: 150px;
      height: 180px;
      object-fit: cover;
    }


    .span-publisher{

      h3{
        font-size: 13px;
      }
            font-size: 13px;
            font-family: Tenor sans;
    }

    .span-genre{
      font-size: 12px;
    }

    .area-freebooks{
      font-size: 11px;
    }

  }


}



