<div class="container-books">
  <h2>Our Books</h2>
  <div class="area-books">
    <div  class="box-books" *ngFor="let data of data">
      <img src={{data.img}} alt="">
      <div class="star-rating" >
        <ng-container *ngFor="let star of getStarsArray(data.review)">
          <i class="fa-solid fa-star"></i>
        </ng-container>
      </div>
      <span class="span-publisher"><h3>Publisher:</h3> {{ data.publisher }}</span>
      <span class="span-genre"> {{data.genre}}</span>
      <div class="area-freebooks">
        Free Digital Book
      </div>
    </div>
  </div>
</div>

