<div class="container-banner">
  <div class="title-banner">
    <h1>Search</h1>
      <div class="area-span"><span class="span-l">Free</span> <span class="span-r">eBooks</span></div>
    <div class="container-search">
      <div class="search-area">
        <a class="icon-search"><i class="fa-solid fa-magnifying-glass"></i></a>
        <input type="text" name="" id="" placeholder="Search..." class="text-bar">
        <a class="icon-x"><i class="fa-solid fa-x"></i></a>
      </div>
    </div>
  </div>
  <div class="banner-logo">
    <img src="../../../assets/banner.png" alt="">
  </div>
  <div class="container-google"><img src="../../../assets/google.png" alt=""></div>
</div>
<div class="container-updates">
  <div class="title">
    <h3>Stay In Touch with Our Updtades</h3>
  </div>
  <div class="email-box">
    <div class="input-email"><input type="text" placeholder="Enter your Email Adress"></div>
    <div class="btn-email"><button>Get in Touch</button></div>
  </div>
</div>

