.container-banner
{
  display: flex;
  justify-content: space-between;
}

.title-banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
  width: 45%;

    h1{
      overflow-y: hidden;
      text-align: left;
      font-weight: bold;
      font-family: "Tenor Sans";
      font-size: 60px;
      line-height: 60px;
      overflow-y: hidden;
    }

  .area-span{
    overflow-y: hidden;
    padding-bottom: 10px;
    .span-l{
      font-size: 40px;
      font-weight: 500;
      color: rgb(168, 168, 168);
      font-family: "Tenor Sans";
      line-height: 30px;
      padding-right: 20px;

    }

    .span-r{
      font-size: 30px;
      line-height: 30px;
      font-size: 40px;
      font-weight: 600;
      color: #3b2697e8;
      font-family: "Tenor Sans";

    }

  }

}

.banner-logo{
  img{
    width: 1000px;
    height: 830px;
  }
}


.search-area{
  position: relative;
  height: 70px;
  display: flex;
  max-width: 500px;
  align-items: center;
  border-radius: 30px;

}

.text-bar{
  height: 100%;
  width: 100%;
  border-radius: 30px;
  outline: 0;
  border: 2px solid rgba(160, 159, 159, 0.384);
  padding-left: 45px;
  font-size: 20px;
  padding-right: 40px;

}

.text-bar::placeholder{
  font-size: 24px;
}

.icon-search{
  position: absolute;
  left: 10px;
  cursor: pointer;
  color: #3b2697e8;
  font-size: 27px;
}

.icon-x{
  position: absolute;
  right: 20px;
  font-size: 23px;
  color: #3b2697e8;
  cursor: pointer;
}

@media(max-width:1135px){
  .banner-logo{
    display: none;
  }

  .title-banner{
    width: 100%;
    text-align: center;

    h1{
      text-align: center;
    }
  }

  .container-search{
    display: flex;
    justify-content: center;

    .search-area{
      width: 700px;
      max-width: 700px;
    }
  }




}


