.container-banner
{
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow-y: hidden;

}

.title-banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
  width: 45%;

    h1{
      overflow-y: hidden;
      text-align: left;
      font-weight: bold;
      font-family: "Tenor Sans";
      font-size: 60px;
      line-height: 60px;
      overflow-y: hidden;
    }

  .area-span{
    overflow-y: hidden;
    padding-bottom: 10px;
    .span-l{
      font-size: 40px;
      font-weight: 500;
      color: rgb(214, 199, 199);
      font-family: "Tenor Sans";
      line-height: 30px;
      padding-right: 20px;

    }

    .span-r{
      font-size: 30px;
      line-height: 30px;
      font-size: 40px;
      font-weight: 600;
      color: #3b2697e8;
      font-family: "Tenor Sans";

    }

  }

}

.banner-logo{
  img{
    width: 1000px;
    height: 830px;
  }
}


.search-area{
  position: relative;
  height: 70px;
  display: flex;
  max-width: 500px;
  align-items: center;
  border-radius: 30px;

}

.text-bar{
  height: 100%;
  width: 100%;
  border-radius: 30px;
  outline: 0;
  border: 2px solid rgba(160, 159, 159, 0.384);
  padding-left: 45px;
  font-size: 20px;
  padding-right: 40px;

}

.text-bar::placeholder{
  font-size: 24px;
}

.icon-search{
  position: absolute;
  left: 10px;
  cursor: pointer;
  color: #3b2697e8;
  font-size: 27px;
}

.icon-x{
  position: absolute;
  right: 20px;
  font-size: 23px;
  color: #3b2697e8;
  cursor: pointer;
}

.container-google{
  position: absolute;
  top: 750px;
  display: flex;
  width: 230px;
  height: 100px;

  img{
    object-fit: cover;
  }
}

.container-updates{
  background-color: #3b2697e8;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title{
    padding-bottom: 20px;
    h3{
      color: white;
      font-size: 30px;
      overflow-y: hidden;
      font-weight: bold;
      font-family: Tenor sans;
      line-height: 40px;
    }
  }


    .email-box{
      display: flex;
      overflow-y: hidden;
      align-items: center;

      .input-email{
        input{
          padding-left: 20px;
          width: 300px;
          height: 40px;
          border-radius: 10px;
          outline: 0;
          border: none;
        }
        input::placeholder{
          font-size: 16px;
        }
      }

      .btn-email{
      padding-left: 20px;

        button{
          width: 150px;
          height: 45px;
          border-radius: 5px;
          border: none;
          background-color: rgb(31, 30, 30);
          font-size: 16px;
          color: white;
          font-weight: bold;
          font-family: Tenor sans;
          transition: background 0.5s ease;
          transition: color 0.5s ease;
        }

        button:hover{
          background: white;
          color:  rgb(31, 30, 30);
        }
      }
    }

}

@media(max-width:1135px){

  .container-banner{
    background: white;
  }

  .banner-logo{
    display: none;
  }

  .title-banner{
    width: 100%;
    text-align: center;

    h1{
      text-align: center;
    }
  }

  .container-search{
    display: flex;
    justify-content: center;

    .search-area{
      width: 700px;
      max-width: 700px;
    }
  }

}

@media(max-width:620px){
  .container-updates{
    .title h3{
      font-size: 25px;
    }

  .email-box{
    .input-email{
      input{
        padding-left: 20px;
        width: 200px;
        height: 40px;
        border-radius: 10px;
        outline: 0;
        border: none;
      }
      input::placeholder{
        font-size: 12px;
      }
    }

    .btn-email{

      button{
        width: 100px;
        font-size: 12px;
      }
    }



  }

}
}

@media(max-width: 380px){
  .area-span{
    width: 245px;
  }
}


