/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '@fortawesome/fontawesome-free/css/all.css';
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';


:root {
  --swiper-theme-color: #fff !important;
  --swiper-navigation-size: 44px !important;
}


@media (max-width: 480px){
  :root{
    --swiper-navigation-size: 24px !important;
  }
}
